.nav-item:hover {
  background-color: #f8f9fa;
  color: blue;
}


.navbar-brand img {
  width: auto;
  height: 6vh;
  margin-left: 0;
}

.nav-item {
  padding-top: 2%;
  padding-left: 1vh;
  padding-right: 1vh;
  text-transform: uppercase;
  color: black;
}

.nav-item:hover {
  margin-left: 1vh;
  margin-right: 1vh;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(
      to bottom,
      #598c9bcc 0%,
      rgba(59, 59, 59, 0.8) 100%
    ),
    url("../img/bg-wallpaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead h1 {
  font-size: 2.25rem;
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
